/* Google Map Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Theme */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #0078a6;
  color: #222;
}

/* Normalize */
h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 16px;
}
p {
  font-size: 11px;
}

/* Search Results List Sidebar */
div.results {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);;
  left: 113px;
  top: 10px;
  width: 200px;
  height: 87%;
  z-index: 999;
    box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
#search-field {
  border-radius: 2px;
  border: 1px solid #ccc;
  width: 99%;
  height: 28px;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
div.results ul {
  padding: 0;
}
div.results ul li {
  padding: 10px;
  list-style: none;
}
div.results ul li:hover {
  color: #777;
  cursor: pointer;
}
div.results ul li:active {
  color: #777;
}

/*
#search-btn {
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
}
#search-btn:hover {
  background-color: #ccc;
}
#search-btn:active {
  background-color: #aaa;
}
*/