/* Google Map Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  display: flex;
  height: 95%;
  width: 100%;
}

/* Theme */
body {
  font-family: 'Lora', serif;
  background-color: #0078a6;
  color: #222;
}

/* Normalize */
h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 22px;
}
p {
  font-size: 16px;
}

/* Lists */
ul.results-list {
  padding: 0;
}
ul.results-list > li {
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}
ul.results-list > li:hover {
  color: #ddd;
  cursor: pointer;
}
ul.results-list > li:active {
  color: #ddd;
}

/* Header */
.header {
  display: flex;
  background: #fbfbfb;
  width: 100%;
  height: 5%;
}
p.search {
  margin-left: 10px;
  margin-top: 6px;
}
#search-field {
  border-radius: 3px;
  width: 300px;
}
#search-btn {
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
}
#search-btn:hover {
  background-color: #cccccc;
}
#search-btn:active {
  background-color: #aaaaaa;
}

/* List results */
.results {
  position: absolute;
  background: #fbfbfb;
  left: 10px;
  top: 81px;
  width: 200px;
  height: 82%;
  z-index: 999;
}